<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/styles.css" />
    <title>Document</title>
  </head>
  <body>
    <div class="box" id="heading">
      <h1><%= listtittle %> !</h1>
    </div>
    <div class="box">
      <% for (let i = 0; i < itemsArray.length; i++) { %>
      <div class="item">
        <input type="checkbox" />
        <p><%= itemsArray[i] %></p>
      </div>
      <% } %>

      <form class="item" action="<%= route %>" method="post">
        <input type="text" name="newItem" placeholder="new  Item" />
        <button type="submit">+</button>
      </form>
    </div>
  </body>
</html>
